body {
    background-color: #c8c8c8;
}

.canvas {
    text-align: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 18px;
    margin: 1% 24% 0 20%;
    background-color: #ebebeb;
    border: 38px #ebebeb solid;
    border-radius: 20px;
    min-width: 510px;
    box-shadow: 8px 18px 18px grey;
}

.canvas__palette {
    width: 482px;
    margin: 10px auto;
}
.canvas__list {
}

.canvas__current {
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 222px;
}

.canvas__current_color {
    width: 40px;
    height: 20px;
    border: 2px solid;
    display: inline-flex;
    background-color: white;
    margin-left: 4px;
}
.color {
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: inline-flex;
    border: 2px black solid;
}
.canvas__paint {
    display: table;
    margin: 10px auto;
    background-color: white;
}

.square__row {
    display: table-cell;
    vertical-align: middle;
}
.square {
    height: 15px;
    width: 15px;
    border: 1px grey solid;
}